version: 2

multi-ecosystem-groups:
  all:
    schedule:
      interval: "monthly"

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    patterns:
      - "*"
    multi-ecosystem-group: "all"
    cooldown:
      default-days: 7

  - package-ecosystem: "cargo"
    directory: "/"
    patterns:
      - "*"
    multi-ecosystem-group: "all"
    cooldown:
      default-days: 7

  - package-ecosystem: "pip"
    directory: "/"
    patterns:
      - "*"
    multi-ecosystem-group: "all"
    cooldown:
      default-days: 7
