# JetBrains
.idea

# VS Code
.vscode/

# Python
__pycache__
venv
*.egg-info

# Rust
target

# dotnet
bin
obj

# Jupyter
.ipynb_checkpoints

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Zig
zig-cache
zig-out

# Advent of Code
input.txt

# C/C++
cmake-build-debug
