name: Python

on:
  push:
    paths:
      - ".github/workflows/python.yaml"
      - "pyproject.toml"
      - "**/pyproject.toml"
      - "**/*.py"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --group dev

      - name: Check formatting
        run: uv run ruff format --check .

      - name: Run ruff
        run: uv run ruff check --output-format=github .

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true

      - name: Sync dependencies
        run: uv sync --group tests

      - name: Run tests
        run: uv run coverage run -m pytest --junitxml=junit.xml -o junit_family=legacy

      - name: Create coverage report
        if: ${{ !cancelled() }}
        run: uv run coverage xml

      - name: Upload coverage reports to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          report_type: coverage
          use_oidc: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          report_type: test_results
          use_oidc: true
