name: Rust CI

on:
  push:
    paths:
      - ".github/workflows/rust.yaml"
      - '**.rs'
      - '**/Cargo.toml'
      - '**/Cargo.lock'

permissions:
  contents: read

jobs:
  lint:
    uses: darbiadev/.github/.github/workflows/rust-lint.yaml@440166417b42442c6114aaa895094f0db7de9b78 # v15.2.0

  clippy:
    needs: lint
    uses: darbiadev/.github/.github/workflows/rust-clippy.yaml@440166417b42442c6114aaa895094f0db7de9b78 # v15.2.0

  test:
    needs: "clippy"
    strategy:
      matrix:
        triple:
          - {
            os: "ubuntu-latest",
            target: "x86_64-unknown-linux-gnu",
          }

    uses: darbiadev/.github/.github/workflows/rust-test.yaml@440166417b42442c6114aaa895094f0db7de9b78 # v15.2.0
    with:
      os: ${{ matrix.triple.os }}
      target: ${{ matrix.triple.target }}
